{% extends 'base.html' %}

{% block main %}

<h1 class="my-3 text-center">Banco de horas</h1>

<p class="my-3 text-end">
  <a class="btn btn-info mt-3" href=" {% url 'create_hora_extra' %} ">Lançar Hora Extra</a>
</p>

<table class="table">
  <thead>
    <th>Funcionario</th>
    <th>Motivo</th>
    <th>Horas</th>
    <th class="text-center">Ações</th>
  </thead>
  <tbody>
    
    {% for hora_extra in object_list %}
    
    <tr>
      <td>Funcionario: {{ hora_extra.funcionario }}</td>
      <td>Motivo: {{ hora_extra }}</td>
      <td>Horas: {{ hora_extra.horas }}</td>
      <td>
        <div class="d-flex flex-column">
          <a class="btn btn-outline-dark p-2" href="{% url 'update_hora_extra' hora_extra.id %}">Editar</a>
          <a class="btn btn-danger mt-3 p-2" href="{% url 'delete_hora_extra' hora_extra.id %}">Deletar</a>
        </div>
      </td>
    </tr>

    {% endfor %}

  </tbody>
</table>


{% endblock main%}